body {
  /* min-width: 1030px; */
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
}

.container-wide {
  width: 1010px;
  margin: 0 auto;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  /* border: 10px solid red; */
}

/* HEADER */
.page-header {
  min-height: 490px;
  padding-top: 60px;
  background-image: url("../img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  /* border: 1px solid red; */
}

.page-header,
.page-footer {
  color: #c3c3c3;
  background-color: #363636;
}

.header-top {
  margin-bottom: 120px;
  /* border: 1px solid red; */
}

.header-logo {
  float: left;
  width: 140px;
  height: 76px;
}

.heder-logo img {
  width: 140px;
  height: 76px;
}

.main-nav {
  float: right;
  box-sizing: border-box;
  width: 600px;
  height: 59px;
  margin: 0;
  margin-top: 10px;
  /* margin-left: 61px; */
  padding: 0;
  padding-top: 14px;
  padding-bottom: 12px;
  list-style: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* border: 1px solid red; */
}

.main-nav li {
  /* display: inline-block; */
  float: left;
  margin-right: 54.5px;
  text-transform: uppercase;
  /* border: 1px solid red; */
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.main-nav li a:hover {
  color: #ffcb78;
  border-bottom: 1px solid #ffffff;
}

.main-nav li a:active {
  color: rgba(255, 203, 120, 0.3);
  border-bottom: 1px solid #ffffff;
}

.promo {
  color: #ffffff;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  /* border: 1px solid red; */
}
/* HEADER */

.features {
  padding-top: 80px;
  padding-bottom: 95px;
  background-color: #ffcb78;
}

.features ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  position: relative;
  float: left;
  width: 214px;
  padding-top: 90px;
  padding-right: 90px;
  padding-left: 90px;
  text-align: left;
  border-left: 1px solid #e5e5e5;
}

.feature-item:first-child {
  border-left-color: transparent;
  padding-left: 0;
}

.feature-item:last-child {
  padding-right: 0;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 90px;
  /* background-color: red; */
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.feature-item:first-child::before {
  left: 0;
}

.feature-cook::before {
  width: 50px;
  height: 68px;
  background-position: -57px -10px;
}

.feature-own::before {
  width: 46px;
  height: 65px;
  background-position: -189px -10px;
}

.feature-economical::before {
  width: 63px;
  height: 58px;
  background-position: -255px -10px;
}

.feature-title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.feature-item p {
  margin: 0;
}
